.card {
  margin-bottom: 25px; }
  .card .card-footer button:first-child {
    left: 0; }
  .card .card-content {
    padding-bottom: 13px; }
    .card .card-content .card-image {
      background-size: cover;
      background-position: center center; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.card, .free-card {
  border-radius: 5px !important; }

.free-card {
  padding: 5px 18px;
  display: inline-block;
  position: relative;
  width: 100%;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.col-centered {
  float: none;
  margin: 0 auto; }

.btn.btn-social {
  color: #FFF;
  padding: 15px;
  position: relative;
  font-size: 18px; }
  .btn.btn-social:disabled {
    color: #212121; }
  .btn.btn-social.btn-social-none {
    background: #AAA; }
    .btn.btn-social.btn-social-none:hover, .btn.btn-social.btn-social-none:focus {
      background: #9d9d9d; }
  .btn.btn-social.btn-facebook {
    background: #1E599B; }
    .btn.btn-social.btn-facebook:hover, .btn.btn-social.btn-facebook:focus {
      background: #1a4d86; }
  .btn.btn-social.btn-twitter {
    background: #00ACF6; }
    .btn.btn-social.btn-twitter:hover, .btn.btn-social.btn-twitter:focus {
      background: #009add; }
  .btn.btn-social.btn-google {
    background: #DC4C32; }
    .btn.btn-social.btn-google:hover, .btn.btn-social.btn-google:focus {
      background: #d13e24; }
  .btn.btn-social.btn-linkedin {
    background: #007AB9; }
    .btn.btn-social.btn-linkedin:hover, .btn.btn-social.btn-linkedin:focus {
      background: #0069a0; }
  .btn.btn-social.btn-yahoo {
    background: #7B0099; }
    .btn.btn-social.btn-yahoo:hover, .btn.btn-social.btn-yahoo:focus {
      background: #670080; }
  .btn.btn-social i {
    position: absolute;
    left: 15px;
    font-size: 28px;
    top: 14.5px; }

.feed-view .free-card img {
  margin: auto;
  display: block;
  max-width: 100%; }

.free-btn-group a:not(.btn-primary) {
  background: #FFF !important;
  padding: 15px 0; }

@media (min-width: 768px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  .user-photo {
    padding: 17px; } }
.user-photo {
  border-radius: 100%; }

.feed-title small {
  font-size: 45%;
  display: block; }

.comm {
  padding-top: 10px; }
  .comm .comm-item {
    margin: 0 0 30px; }
    .comm .comm-item:not(:first-child) {
      border-top: 1px solid rgba(204, 204, 204, 0.49);
      padding-top: 20px; }
    .comm .comm-item img {
      width: 60px;
      border-radius: 100%; }
    .comm .comm-item .comm-details {
      padding-left: 70px; }
      .comm .comm-item .comm-details .comm-user-name {
        font-weight: bold; }
      .comm .comm-item .comm-details .comm-details-sub .date {
        font-size: 12px; }

.sdate, .sdate * {
  display: block; }

.sday, .other_sdate {
  float: left;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 17px 0px, rgba(0, 0, 0, 0.18824) 0px 6px 20px 0px; }

.other_sdate {
  height: 44px;
  margin-top: 3px;
  box-sizing: border-box; }

.sday {
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 38px;
  text-align: center;
  font-weight: bolder;
  z-index: 1;
  background: #FF9800;
  color: white;
  border-radius: 2px; }

.syear, .stime {
  float: left; }

.smounth, .other_syear_time {
  width: 100px;
  height: 22px;
  margin: 0;
  padding: 0;
  line-height: 25px;
  background: #3F51B5; }

.smounth {
  text-align: center;
  font-size: 16px;
  color: white;
  border-bottom: 2px solid #303F9F;
  box-sizing: border-box; }

.syear, .stime {
  font-size: 18px;
  color: white;
  width: 50px;
  text-align: center; }

.card .card-image .card-image-headline {
  text-shadow: 2px 2px 10px #000; }

.btn-fab:disabled {
  background: #ccc !important; }

.card-body {
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #FFF; }
  .card-body .badge.badge-warning {
    top: 2px;
    right: 5px;
    position: absolute;
    background: #FF9800; }

.dtp > .dtp-content {
  max-height: 536px !important; }

/*# sourceMappingURL=magic.css.map */
